*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

html{
    min-height: 100%;
    position: relative;
}

body{
    margin-bottom: 100px;
    font-family: "Roboto", sans-serif;
}

/* Header */
.header{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.title{
    font-size: 32px;
}

/* Main */
.main{
    display: flex;
    justify-content: center;;
    margin: 60px 0px;
}

.handheld{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BEBEBE;
    min-height: 400px;
    width: 800px;
    border-radius: 20px 20px 90px 20px;
    padding: 24px 0px;
}

.screen{
    background-color: #9BBC0F;
    height: 384px;
    width: 384px;
    border: 2px solid;
}

/* Footer */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0px;
}